# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/
ENV/
*.egg-info/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# Model and scaler files
model.pkl
scaler.pkl

# Streamlit cache
.streamlit/

# Datasets (optional - only if they're not small or publicly shareable)
*.csv
*.xlsx

# Logs and temp files
*.log
*.tmp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
